<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'titles.editUser' : 'titles.createUser') |translate}}
  </h1>

  <form fxLayout="row wrap"  fxLayout.xs="column" fxLayoutAlign="space-between" class="full-width" fxFlex="100" [formGroup]="userForm" (ngSubmit)="isEdit ? updateUser() : createUser()">
    <mat-form-field
      fxFlex="48" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        data-cy-input="email"
        matInput
        type="text"
        formControlName="email"
        placeholder="{{'placeholder.email'| translate}}"
        required>
      <mat-error *ngIf="alreadyRegisteredEmail">{{'fieldErrors.accountNotFound'|translate}}</mat-error>
      <mat-error *ngIf="userForm.get('email')?.errors?.pattern">{{'fieldErrors.emailPattern'|translate}}</mat-error>
      <mat-error *ngIf="userForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field
      fxFlex="48" appearance="outline">
      <mat-label>{{'labels.name'|translate}}</mat-label>
      <input
        data-cy-input="name"
        matInput
        type="text"
        formControlName="name"
        placeholder="{{'placeholder.userName'|translate}}"
        minlength="5"
        pattern="^([a-zA-Zà-úÀ-Ú]|\s+)+$"
        required>
      <mat-error *ngIf="userForm.get('name')?.errors?.required">{{'fieldErrors.nameIsRequired'|translate}}</mat-error>
      <mat-error *ngIf="userForm.get('name')?.errors?.minlength">{{'fieldErrors.minLengthNameAdmin'|translate}}</mat-error>
      <mat-error *ngIf="userForm.get('name')?.errors?.pattern">{{'fieldErrors.namePattern'|translate}}</mat-error>
    </mat-form-field>
    <mat-slide-toggle
     formControlName="isActive"
     [attr.data-cy-input]="'isActive:' + userForm.get('isActive')?.value">
     {{'labels.active'|translate}}</mat-slide-toggle>
    <div *ngIf="isLoading;then showLoader;else showButton"></div>
    <ng-template #showLoader>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <ng-template #showButton>
      <button 
      mat-raised-button [disabled]="userForm.invalid" 
      data-cy-admin-button="save" 
      [attr.data-cy-is-disabled]="userForm.invalid"  
      type="submit">{{(isEdit ? 'labels.save':'labels.create')|translate}}</button>
    </ng-template>
  </form>
  <button class="full-width" fxShow fxHide.gt-xs mat-raised-button color="primary"
  (click)="closeForm()">{{('labels.return')|translate}}
</button>
</div>
