<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="background">
  <div fxFlex="100" class="mat-elevation-z10 login-container" fxLayout="column">
    <h1 class="system-title">Turma de Elite</h1>
    <h3 class="system-title">Login</h3>
    <form
      fxLayout="column"
      [formGroup]="loginForm">
      <mat-form-field
        class="fieldWidth"
        fxFlex appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
            fxFlex="100"
            matInput
            type="text"
            formControlName="email"
            placeholder="user@email.com"
            required>
            <mat-error *ngIf="isEmailInvalid">Não foi possível encontrar sua conta</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.required">É necessário inserir o E-mail</mat-error>
      </mat-form-field>
      <mat-form-field
        class="fieldWidth"
        appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          fxFlex="100"
          matInput
          type="password"
          formControlName="password">
          <mat-error *ngIf="isPasswordInvalid">Senha incorreta. Tente novamente ou clique em "Esqueceu a senha?" para redefini-la</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.required">É necessário inserir a senha</mat-error>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      (click)="login()"
      color="primary">
      Login
    </button>
    <button
      mat-raised-button
      routerLink="/reset-password"
      color="primary">
      Esqueci a senha
    </button>
  </div>
</div>
