<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="background">
  <div fxFlex="100" class="mat-elevation-z10 login-container" fxLayout="column">
    <h1 class="system-title">Turma de Elite</h1>
    <h3 class="system-title">Login</h3>
    <form
      fxLayout="column"
      [formGroup]="loginForm">
      <mat-form-field
        fxFlex appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
            fxFlex="100"
            matInput
            type="text"
            formControlName="email"
            placeholder="user@email.com"
            required>
            <mat-error *ngIf="isEmailInvalid">{{'fieldErrors.accountNotFound'|translate}}</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="fill">
        <mat-label>{{'labels.password'|translate}}</mat-label>
        <input
          fxFlex="100"
          matInput
          type="password"
          formControlName="password">
          <mat-error *ngIf="isPasswordInvalid">{{'fieldErrors.passwordWrong'|translate}}</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.errors?.required">{{'fieldErrors.passwordIsRequired'|translate}}</mat-error>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      class="button-margin"
      (click)="login()"
      color="primary">
      {{ 'labels.login' | translate }}
    </button>
    <button
      mat-raised-button
      class="button-margin"
      routerLink="/reset-password"
      color="primary">
      {{'labels.forgotPassword'|translate}}
    </button>
    <button
      mat-raised-button
      routerLink="/reset-password"
      color="primary">
      Você é um gestor escolar? Cadastre-se aqui!
    </button>
  </div>
</div>
