<div
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="center center">
  <div
    class="full-width full-screen-height"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-around center">
    <div fxFlex="65" class="full-screen-height" fxLayoutAlign="center center" fxHide fxShow.gt-xs >
      <img src="assets/login.svg">
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="full-height full-width login-container"
      fxShow fxHide.md
      >
      <div
        fxFlexAlign="center center"
        fxLayout="column">
        <div 
        fxLayout="row"  
        fxLayoutAlign="center center" 
        class="title" 
        >
          <div>
            <mat-icon [ngStyle.xs] = "{'font-size.px': 30}" >military_tech</mat-icon>
          </div>
          <h1 [ngStyle.xs] = "{'font-size.px': 30}">
            Turma de Elite
          </h1>
        </div>
        <form
          fxLayout="column"
          [formGroup]="loginForm">
          <mat-form-field
            class="white-background"
            fxFlex appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              data-cy-input="email"
              fxFlex="100"
              matInput
              type="text"
              formControlName="email"
              placeholder="{{'placeholder.email'|translate}}"
              id="email-login"
              required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline">
            <mat-label>{{'labels.password'|translate}}</mat-label>
            <input
              data-cy-input="password"
              fxFlex="100"
              matInput
              type="password"
              formControlName="password"
              placeholder="{{'placeholder.password'|translate}}"
              id="password-login">
            <mat-error *ngIf="isPasswordInvalid">{{'fieldErrors.passwordWrong'|translate}}</mat-error>
            <mat-error *ngIf="loginForm.get('password')?.errors?.required">{{'fieldErrors.passwordIsRequired'|translate}}</mat-error>
          </mat-form-field>
        </form>
        <div *ngIf="isLoading;then showLoader; else showButton"></div>
        <ng-template #showLoader>
          <div fxLayout="row" fxLayoutAlign="center center" class="button-margin">
            <mat-spinner diameter="20" *ngIf="isLoading"></mat-spinner>
          </div>
        </ng-template>
        <ng-template #showButton>
          <button
            data-cy-button="login"
            mat-raised-button
            color="primary"
            class="button-margin"
            id="button-login"
            (click)="login()">
            {{ 'labels.login' | translate }}
          </button>
        </ng-template>
        <button
          mat-stroked-button
          class="button-margin"
          routerLink="/reset-password"
          color="primary">
          {{'labels.forgotPassword'|translate}}
        </button>
      </div>
    </div>
  </div>

</div>
