<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'labels.updateActivity' : 'labels.createActivity') |translate}}
  </h1>

  <form
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    fxLayout.xs="column"
    class="full-width margin-button"
    fxFlex="100"
    [formGroup]="activityForm">
    <mat-form-field
      fxFlex="60" appearance="outline">
      <mat-label>{{'labels.name'|translate}}</mat-label>
      <input
        readonly={{isFromLms}}
        data-cy-input="name"
        matInput
        type="text"
        formControlName="name"
        pattern="^[a-z A-Z 0-9]*$"
        required>
      <mat-error *ngIf="activityForm.get('name')?.errors?.required">{{'fieldErrors.activityNameIsRequired'|translate}}</mat-error>
      <mat-error *ngIf="activityForm.get('name')?.errors?.pattern">{{'fieldErrors.activityNamePattern'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field
      fxFlex="35" appearance="outline">
      <mat-label>{{'labels.punctuation'|translate}}</mat-label>
      <input
        readonly={{isFromLms}}
        matInput
        type="text"
        data-cy-input="punctuation"
        formControlName="punctuation"
        pattern="^[\d,.?!]+$"
        required>
      <mat-error *ngIf="activityForm.get('punctuation')?.errors?.required">{{'fieldErrors.punctuationIsRequired'|translate}}</mat-error>
      <mat-error *ngIf="activityForm.get('punctuation')?.errors?.pattern">{{'fieldErrors.punctuationPattern'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
      <mat-label>{{'labels.classes'|translate}}</mat-label>
      <mat-select data-cy-select="class" multiple formControlName="schoolClasses" required>
        <mat-option [attr.data-cy-select]="schoolClass.id" *ngFor="let schoolClass of filteredClasses"  [value]="schoolClass.id">
          {{schoolClass.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="activityForm.get('schoolClasses')?.errors?.required">{{'fieldErrors.schoolClassesIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
      <input
        readonly={{isFromLms}}
        matInput
        data-cy-input="maxDeliveryDate"
        [ngxMatDatetimePicker]="picker"
        placeholder="{{'placeholder.chooseDeliveryDate'|translate}}"
        formControlName="maxDeliveryDate"
        required>
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker>
      </ngx-mat-datetime-picker>
      <mat-error *ngIf="activityForm.get('maxDeliveryDate')?.errors?.required">{{'fieldErrors.maxDeliveryDateIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field
      fxFlex="100" appearance="outline">
      <mat-label>{{'labels.attachment'|translate}}</mat-label>
      <input
        data-cy-input="fileName"
        matInput
        type="text"
        [readonly]="true"
        formControlName="filename">
      <button
        matSuffix
        mat-icon-button
        (click)="uploader.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button
        *ngIf="isEdit === true && activityForm.get('filename')?.value !== ''"
        matSuffix
        mat-icon-button
        (click)="downloadAttachment()">
        <mat-icon>file_download</mat-icon>
      </button>
    </mat-form-field>
    <input
      hidden
      type="file"
      #uploader
      (change)="uploadFile($event)">
    <mat-form-field
      fxFlex="100" appearance="outline">
      <mat-label>{{'labels.description'|translate}}</mat-label>
      <textarea readonly={{isFromLms}} matInput data-cy-input="description" formControlName="description" required></textarea>
      <mat-error *ngIf="activityForm.get('description')?.errors?.required">{{'fieldErrors.descriptionIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-checkbox data-cy-input="isVisible" [indeterminate]="false" formControlName="isActive">{{'labels.active'|translate}}</mat-checkbox>
    <mat-checkbox data-cy-input="isActive" [indeterminate]="false" formControlName="isVisible">{{'labels.visible'|translate}}</mat-checkbox>
    <mat-checkbox data-cy-input="isDeliverable" [indeterminate]="false" formControlName="isDeliverable">{{'labels.deliverable'|translate}}</mat-checkbox>
    <div *ngIf="isLoading;then showLoader;else showButton"></div>
    <ng-template #showLoader>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <div>
    <button *ngIf="isExpired()" class="margin-button" mat-flat-button [routerLink]="[activityId,'grades']" color="primary">
      {{'labels.viewDeliveries'|translate}}
    </button>
    <ng-template #showButton>
      <button *ngIf="!isFromLms" 
      mat-raised-button
      data-cy-activity-button="save" 
      [attr.data-cy-is-disabled]="activityForm.invalid"  
       (click)="isEdit ? updateActivity() : createActivity()" [disabled]="activityForm.invalid">{{(isEdit ? 'labels.save':'labels.create')|translate}}</button>
    </ng-template>
  </div>
  </form>
  <button class="full-width" fxShow fxHide.gt-xs mat-raised-button color="primary"
  (click)="closeForm()">{{('labels.return')|translate}}
</button>
</div>
