<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'labels.updateActivity' : 'labels.createActivity') |translate}}
  </h1>

  <form
    fxLayout="row wrap"
    fxLayoutAlign="space-between"
    class="full-width"
    fxFlex="100"
    [formGroup]="activityForm">
    <mat-form-field
      fxFlex="60" appearance="outline">
      <mat-label>{{'labels.name'|translate}}</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        required>
    </mat-form-field>
    <mat-form-field
      fxFlex="30" appearance="outline">
      <mat-label>{{'labels.punctuation'|translate}}</mat-label>
      <input
        matInput
        type="number"
        formControlName="punctuation"
        required>
    </mat-form-field>
    <mat-form-field fxFlex="90" appearance="outline">
      <mat-label>{{'labels.classes'|translate}}</mat-label>
      <mat-select multiple formControlName="schoolClasses" >
        <mat-option *ngFor="let schoolClass of filteredClasses"  [value]="schoolClass.id">
          {{schoolClass.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="90" appearance="outline">
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="{{'placeholder.chooseDeliveryDate'|translate}}"
        formControlName="maxDeliveryDate">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker>
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field
      fxFlex="90" appearance="outline">
      <mat-label>{{'labels.attachment'|translate}}</mat-label>
      <input
        matInput
        type="text"
        [readonly]="true"
        formControlName="filename">
      <button
        matSuffix
        mat-icon-button
        (click)="uploader.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <button
        *ngIf="isEdit === true && activityForm.get('filename')?.value !== ''"
        matSuffix
        mat-icon-button
        (click)="downloadAttachment()">
        <mat-icon>file_download</mat-icon>
      </button>
    </mat-form-field>
    <input
      hidden
      type="file"
      #uploader
      (change)="uploadFile($event)">
    <mat-form-field
      fxFlex="45" appearance="outline">
      <mat-label>{{'labels.description'|translate}}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-checkbox [indeterminate]="false" formControlName="isActive">{{'labels.active'|translate}}</mat-checkbox>
    <mat-checkbox [indeterminate]="false" formControlName="isVisible">{{'labels.visible'|translate}}</mat-checkbox>
    <mat-checkbox [indeterminate]="false" formControlName="isDeliverable">{{'labels.deliverable'|translate}}</mat-checkbox>
    <div *ngIf="isLoading;then showLoader;else showButton"></div>
    <ng-template #showLoader>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <ng-template #showButton>
      <button mat-flat-button color="primary" (click)="isEdit ? updateActivity() : createActivity()" [disabled]="false">{{(isEdit ? 'labels.save':'labels.create')|translate}}</button>
    </ng-template>
  </form>
  <button *ngIf="isExpired()" mat-flat-button [routerLink]="[activityId,'grades']" color="primary">
    {{'labels.viewDeliveries'|translate}}
  </button>
</div>
