<div fxLayout="column" fxLayoutAlign="center start">
  <div class="page-title" fxFlexAlign="start" fxLayoutAlign="center start">
    <button mat-icon-button routerLink="/teacher/dashboard"><mat-icon>navigate_before</mat-icon></button>
    <h1 class="mat-display-1">{{'titles.deliveriesForThisActivity'|translate}}</h1>
  </div>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around  start">
    <div fxFlex="60">
      <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>

      <div
        class="row"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        *ngFor="let delivery of deliveries"
        (click)="activityToggleId=delivery.id;createMode=false">
        <p class="student-name">{{delivery.studentName}}</p>
        <div  fxLayout="row"
              fxFlexAlign="center center">
          <span class="filename">{{delivery.filename}}</span>
          <button mat-icon-button (click)="downloadDelivery(delivery.deliveryId)">
            <mat-icon>
              file_download
            </mat-icon>
          </button>
        </div>
        <mat-form-field
          class="fieldWidth"
          appearance="outline">
          <mat-label>{{'labels.gradePercentage' | translate}}</mat-label>
          <input
            fxFlex="100"
            matInput
            type="number"
            [formControl]="delivery.gradePercentage">
        </mat-form-field>
        <button mat-icon-button color="primary" [disabled]="delivery.gradePercentage.invalid" (click)="saveGrade(delivery.deliveryId,delivery.gradePercentage.value)">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="40"></div>
  </div>

</div>
