<div fxLayout="column" fxLayoutAlign="center start" fxFlex="100">
  <div class="page-title" fxFlexAlign="start" fxLayoutAlign="center start">
    <button mat-icon-button routerLink="/teacher/dashboard">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h1 class="mat-display-1">{{'titles.deliveriesForThisActivity'|translate}}</h1>
  </div>
  <div class="full-width"  fxLayoutAlign="start">
    <div fxFlex="50" fxFlex.xs="90" fxLayout ="column" fxLayoutAlign="start" >
      <div *ngIf="isLoading"  fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
      <div class="row" fxLayoutAlign="start center" fxFlex="100" *ngFor="let delivery of deliveries"
        (click)="activityToggleId=delivery.id;createMode=false">
        <mat-expansion-panel class="full-width">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{delivery.studentName}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout.lg="row" fxLayout.xs="column" fxLayoutAlign="space-between " fxFlexAlign="center center">
            <span class="filename">{{delivery.filename}}</span>
            <mat-form-field  appearance="outline">
              <mat-label>{{'labels.gradePercentage' | translate}}</mat-label>
              <input fxFlex="100" matInput type="number" [formControl]="delivery.gradePercentage">
            </mat-form-field>
            <div class="fieldWidth">
            <button mat-icon-button (click)="downloadDelivery(delivery.deliveryId)">
              <mat-icon>
                file_download
              </mat-icon>
            </button>
            <button mat-icon-button color="primary" [disabled]="delivery.gradePercentage.invalid"
              (click)="saveGrade(delivery.deliveryId,delivery.gradePercentage.value)">
              <mat-icon>check</mat-icon>
            </button>
          </div>
          </div>
        </mat-expansion-panel>
        </div>
      </div>
   
    </div>
    <div fxFlex="40"></div>
  </div>
