<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxFlexAlign="start">
    <h1 class="mat-display-1 page-title">{{'titles.administrativePanel'|translate}}</h1>
  </div>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <img class="half-screen-width" src="assets/administrative-panel.svg">
    </div>
    <div fxFlex="35" fxFlexAlign="start">
      <a
        class="tile mat-elevation-z1"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        [routerLink]="['/admin/schools']" >
        <mat-icon color="primary">school</mat-icon>
        <p color="primary">{{'labels.schools'|translate}}</p>
      </a>
      <a
        class="tile mat-elevation-z1"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        [routerLink]="['/admin/admins']">
        <mat-icon color="primary">manage_accounts</mat-icon>
        <p color="primary">{{'labels.admins'|translate}}</p>
      </a>
      <a
        class="tile mat-elevation-z1"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        [routerLink]="['/admin/managers']">
        <mat-icon color="primary">person</mat-icon>
        <p color="primary">{{'titles.managers'|translate}}</p>
      </a>
    </div>
  </div>
</div>
