.position{
  width: 100px;
  height: 100px;

  font-size: 30px;
  color: white;
}

.name{
  font-size: 30px;
  font-weight: lighter;
  margin-left: 20px;
}

.gold{
  background: #FFC600;
}

.silver{
  background: #B4B4B4;
}

.bronze{
  background: #aa4b13;
}

.null{
  background: #000066;
}

@media (max-width: 500px)
  {
    .name{
      font-size: 20px;
      font-weight: lighter;
      margin-left: 20px;
    }

  }