<div *ngIf="schoolClass" fxLayout="row" fxLayoutAlign="space-between">
  <div  fxLayout="column">
    <h1>{{schoolClass?.name}}</h1>
    <div>
      <h2>{{'labels.teachers'|translate}}</h2>
      <ul>
        <li *ngFor="let teacher of schoolClass?.teachers">{{teacher.teacher.name}}</li>
      </ul>
    </div>
    <div>
      <h2>{{'labels.students'|translate}}</h2>
      <ul>
        <li *ngFor="let student of schoolClass?.students"> {{student.student.name}}</li>
      </ul>
    </div>
    <div *ngIf="schoolClass?.isDone;then showIsDone;else showCloser"></div>
    <ng-template #showIsDone>
      <h1>{{'labels.classClosed'|translate}}</h1>
    </ng-template>
    <ng-template #showCloser>
      <div>
        <button data-cy-class="close" mat-flat-button (click)="closeClass()" color="primary">{{'labels.closeClass'|translate}}</button>
      </div>
    </ng-template>
  </div>
  <div fxLayout="column">
    <h1>{{'labels.rankingConfig'|translate}}</h1>
    <form [formGroup]="tierConfigForm" fxLayout="column">
      <mat-form-field>
        <mat-label>{{'labels.goldPercent'|translate}}</mat-label>
        <input matInput type="number" formControlName="goldPercent">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'labels.silverPercent'|translate}}</mat-label>
        <input matInput type="number" formControlName="silverPercent">
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{'labels.bronzePercent'|translate}}</mat-label>
        <input matInput type="number" formControlName="bronzePercent">
      </mat-form-field>
      <p class="error" *ngIf="tierConfigForm.errors?.invalidValues">{{'fieldErrors.tierPercentError'|translate}}</p>
      <button
        mat-flat-button
        color="primary"
        (click)="schoolClass?.tierConfig? updateTierConfig():createTierConfig()"
        [disabled]="tierConfigForm.invalid">
        {{'labels.save'|translate}}
      </button>
    </form>
  </div>
</div>
