.error{
  color: red;
  font-weight: lighter;
}

.default-height{
  height: 400px;

}

mat-expansion-panel{
  margin-top: 10px;
  
}

button{
  margin-top: 10px;
  margin-bottom: 10px;

}
