<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'labels.editClass' : 'labels.createClass') |translate}}
  </h1>

  <mat-stepper class="full-width" orientation="vertical" [linear]="true" #stepper fxFlex="100">
    <mat-step [completed]="teachersCompleted">
      <ng-template matStepLabel>{{'labels.chooseTeachers'|translate}}</ng-template>
      <app-teacher-table
        (next)="stepper.next()"
        [(teachers)]="teachers"
        [clear]="clear"
        [classId]="classId"
        [editMode]="isEdit">
      </app-teacher-table>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'labels.chooseStudents'|translate}}</ng-template>
      <app-student-table
        (previous)="stepper.previous()"
        (next)="stepper.next()"
        [(students)]="students"
        [clear]="clear"
        [classId]="classId">
      </app-student-table>
    </mat-step>
    <mat-step [completed]="studentsCompleted">
      <ng-template matStepLabel>{{'labels.chooseClassName'|translate}}</ng-template>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
        <mat-form-field
          fxFlex="80" appearance="outline">
          <mat-label>{{'labels.className'|translate}}</mat-label>
          <input
            data-cy-input="name"
            matInput
            type="text"
            [formControl]="classNameControl"
            placeholder="{{'placeholder.className'|translate}}"
            maxlength="20"
            pattern="[A-Z a-z 0-9]+"
            required>
          <mat-error *ngIf="classNameControl.hasError('required')">{{'fieldErrors.classNameIsRequired'|translate}}</mat-error>
          <mat-error *ngIf="classNameControl.hasError('pattern')">{{'fieldErrors.classNamePattern'|translate}}</mat-error>
        </mat-form-field>
        <mat-slide-toggle 
        [formControl]="isActiveControl"
        [attr.data-cy-input]="'isActive:' + classNameControl.get('isActive')?.value" >{{'labels.active'|translate}}</mat-slide-toggle>
      </div>
      <div fxLayout="row" class="full-width default-padding" fxLayoutAlign="end center">
      <button
        mat-flat-button
        color="primary"
        [disabled]="!teachersCompleted || !studentsCompleted || classNameControl.invalid"
        data-cy-class-button="save" 
        [attr.data-cy-is-disabled]="classNameControl.invalid" 
        (click)="isEdit? updateStatusAndName():createClass()">{{(isEdit?'labels.save':'labels.createClass')|translate}}
      </button>
    </div>
    </mat-step>
  </mat-stepper>
  <button class="full-width" fxShow fxHide.gt-xs mat-raised-button color="primary"
  (click)="closeForm()">{{('labels.close')|translate}}
</button>
</div>
