<div fxLayout="column" fxLayoutAlign="center start">
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around  start">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" 
      [opened]="true">
      <div class="page-title" fxFlexAlign="start" fxLayoutAlign="start">
        <button mat-icon-button routerLink="/manager/dashboard"><mat-icon>navigate_before</mat-icon></button>
        <h1 class="mat-display-1">{{'labels.classes'|translate}}</h1>
      </div>
      <div class="search" >
        <mat-form-field class = "full-width" appearance="outline" >
        <input type="tel" matInput placeholder="{{'placeholder.searchClass'|translate}}" [formControl]="searchControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      </div>
      <mat-nav-list>
        <mat-tab-group (selectedTabChange)="loadClasses($event.index)">
          <mat-tab label="Turma de Elite">
            <a *ngIf="(isHandset$ | async)" 
        data-cy-class="create"
        [ngClass]="'mat-elevation-z1 '+  (createMode?'toggled-tile':'tile')"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        (click)="createMode=true;classToggleId=null; drawer.toggle()">
        <mat-icon color="primary">add</mat-icon>
        <p color="primary">{{'labels.createClass'|translate}}</p>
      </a>
      <a *ngIf="!(isHandset$ | async)" 
        data-cy-class="create"
        [ngClass]="'mat-elevation-z1 '+  (createMode?'toggled-tile':'tile')"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        (click)="createMode=true;classToggleId=null;isFromLms=false;">
        <mat-icon color="primary">add</mat-icon>
        <p color="primary">{{'labels.createClass'|translate}}</p>
      </a>
      <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngFor="let classroom of localClasses">
        <a *ngIf="(isHandset$ | async)" 
        [attr.data-cy-edit-class]="classroom.id"
        [ngClass]="'mat-elevation-z1 ' + (classToggleId===classroom.id?'toggled-tile':'tile')"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        (click)="classToggleId=classroom.id;createMode=false; drawer.toggle();isFromLms=false;">
        <mat-icon [ngClass]="classroom.isActive?'primary':'disabled'">person</mat-icon>
        <p color="primary">{{classroom.name}}</p>
      </a>
    </div>
    <div *ngFor="let classroom of localClasses">
      <a *ngIf="!(isHandset$ | async)" 
      [attr.data-cy-edit-class]="classroom.id"
      [ngClass]="'mat-elevation-z1 ' + (classToggleId===classroom.id?'toggled-tile':'tile')"
      fxLayout="row"
      fxFlexAlign="center center"
      fxLayoutAlign="start center"
      (click)="classToggleId=classroom.id;createMode=false; isFromLms=false">
      <mat-icon [ngClass]="classroom.isActive?'primary':'disabled'">person</mat-icon>
      <p color="primary">{{classroom.name}}</p>
    </a>
  </div>
      <mat-paginator
        class="full-width"
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageChange($event)">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Google Classroom">
      <div *ngFor="let classroom of lmsClasses">
        <a *ngIf="!(isHandset$ | async)" 
        [attr.data-cy-edit-class]="classroom.id"
        [ngClass]="'mat-elevation-z1 ' + (classToggleId===classroom.externalId?'toggled-tile':'tile')"
        fxLayout="row"
        fxFlexAlign="center center"
        fxLayoutAlign="start center"
        (click)="classToggleId=classroom.id;createMode=false; isFromLms=true">
        <mat-icon [ngClass]="classroom.isActive?'primary':'disabled'">person</mat-icon>
        <p color="primary">{{classroom.name}}</p>
      </a>
      </div>
        <div *ngFor="let classroom of lmsClasses">
          <a *ngIf="(isHandset$ | async)" 
          [attr.data-cy-edit-class]="classroom.id"
          [ngClass]="'mat-elevation-z1 ' + (classToggleId===classroom.externalId?'toggled-tile':'tile')"
          fxLayout="row"
          fxFlexAlign="center center"
          fxLayoutAlign="start center"
          (click)="classToggleId=classroom.id;createMode=false; isFromLms=true; drawer.toggle()">
          <mat-icon [ngClass]="classroom.isActive?'primary':'disabled'">person</mat-icon>
          <p color="primary">{{classroom.name}}</p>
        </a>
        </div>
        <mat-paginator
        class="full-width"
        [length]="totalLength"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageChange($event)">
      </mat-paginator>     
      </mat-tab>
    </mat-tab-group>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <div fxFlex="100" fxFlexAlign="end">
      <app-class-form
        *ngIf="classToggleId || createMode"
        [classId]="classToggleId"
        [createMode]="createMode"
        (save)="refresh()"
        (cancel)="drawer.toggle($event)"
        [isFromLms]="isFromLms">
      </app-class-form>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
</div>