.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 500px;
    margin-top: 30vh;
    height: 70vh;
    
  }

  @media (max-width: 500px)
  {
    .sidenav {
      width: 100%;
      margin-top: 20vh;
      height: 80vh;

      
    }  
    
  }

  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  