<div fxLayout="column" fxLayoutAlign="center start">
  <div class="full-width" fxLayout="row" fxLayoutAlign="start">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #drawer class="sidenav" fixedInViewport 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" 
      [opened]="true">
      <div class="page-title" fxFlexAlign="start" fxLayoutAlign="start">
        <button data-cy-return="dashboard" mat-icon-button routerLink="/admin/dashboard">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <h1 class="mat-display-1">{{'labels.schools'|translate}}</h1>
      </div>
      <div class="search" >
      <mat-form-field class="full-width" appearance="outline">
        <form [formGroup]="schoolForm">
          <input type="tel" matInput placeholder="{{'placeholder.searchSchool'|translate}}"
            [formControl]="searchControl" [matAutocomplete]="auto" formControlName="name">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySchoolName">
            <mat-option *ngFor="let school of filteredSchools$ | async" [value]="school">
              {{school.name + ' | ' + school.identifier}}
            </mat-option>
          </mat-autocomplete>
        </form>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
        <mat-nav-list>
          <a *ngIf="(isHandset$ | async)" 
          data-cy-school="create" 
          [ngClass]="'mat-elevation-z1 '+  (createMode?'toggled-tile':'tile')" 
          fxLayout="row"
          fxFlexAlign="center center" fxLayoutAlign="start center"
          (click)="createMode=true;schoolToggleId=null; drawer.toggle()">
          <mat-icon color="primary">add</mat-icon>
          <p color="primary">{{'titles.createSchool'|translate}}</p>
          </a>
          <a *ngIf="!(isHandset$ | async)" data-cy-school="create" [ngClass]="'mat-elevation-z1 '+  (createMode?'toggled-tile':'tile')" fxLayout="row"
          fxFlexAlign="center center" fxLayoutAlign="start center"
          (click)="createMode=true;schoolToggleId=null; ">
          <mat-icon color="primary">add</mat-icon>
          <p color="primary">{{'titles.createSchool'|translate}}</p>
        </a>
          <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
            <mat-spinner></mat-spinner>
          </div>
          <div *ngFor="let school of schools">
          <a *ngIf="!(isHandset$ | async)" 
            [attr.data-cy-edit-school]="school.id"
            [ngClass]="'mat-elevation-z1 ' + (schoolToggleId===school.id?'toggled-tile':'tile')" 
            fxLayout="row"
            fxFlexAlign="center center" 
            fxLayoutAlign="start center" 
            (click)="schoolToggleId=school.id === undefined ? null : school.id;createMode=false ">
            <mat-icon [ngClass]="school.isActive?'primary':'disabled'">school</mat-icon>
            <p color="primary">{{school.name}}</p>
          </a>
        </div>
        <div *ngFor="let school of schools">
          <a *ngIf="(isHandset$ | async)" 
            [attr.data-cy-edit-school]="school.id"
            [ngClass]="'mat-elevation-z1 ' + (schoolToggleId===school.id?'toggled-tile':'tile')" 
            fxLayout="row"
            fxFlexAlign="center center" 
            fxLayoutAlign="start center" 
            (click)="schoolToggleId=school.id === undefined ? null : school.id;createMode=false;drawer.toggle()">
            <mat-icon [ngClass]="school.isActive?'primary':'disabled'">school</mat-icon>
            <p color="primary">{{school.name}}</p>
          </a>
        </div>        
          <mat-paginator 
          class="full-width" [length]="totalLength" 
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]" 
          (page)="pageChange($event)">
          </mat-paginator>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <div fxFlex="100" fxFlexAlign="end">
          <app-school-form *ngIf="schoolToggleId || createMode" 
          [schoolId]="schoolToggleId" 
          [createMode]="createMode"
          (save)="refresh()" 
          (cancel)="drawer.toggle($event)">
          </app-school-form>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

</div>