<div class="default-padding" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{'labels.users'|translate}}
  </h1>
  <div class="full-width divider" fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab color="primary" routerLink="form" [matTooltip]="'tooltip.addNewUser'|translate"> <mat-icon>add</mat-icon> </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'labels.name'| translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{'labels.actions'|translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matTooltip]="'tooltip.edit'|translate" color="primary"> <mat-icon>edit</mat-icon> </button>
        <button mat-icon-button [matTooltip]="'tooltip.view'|translate"> <mat-icon>visibility</mat-icon> </button>
        <button mat-icon-button [matTooltip]="'tooltip.delete'|translate" color="warn"> <mat-icon>delete</mat-icon> </button>
        <button mat-icon-button [matTooltip]="'tooltip.firstAccessEmailResend'|translate" > <mat-icon>email</mat-icon> </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="divider full-width">
    <mat-paginator
      class="full-width"
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
