.tile{
  border: #303f9f 0.5px solid;
  height: 100px;
  margin: 20px 0;
  display: block;

  .mat-icon{
    margin: 20px 40px;
    font-size: 35px;
  }
  text-decoration: none;
  color: black;

  p{
    font-size: 8px;
    text-align: start;
    margin: 0;
    font-weight: 300;
    height: 100%;
    width: 100%;
    line-height: 12px;
    white-space: normal;
    vertical-align: middle;
  }

  .expires{
    margin-top: 5px;
    mat-icon{
      font-size: 12px;
      text-align: start;
      margin: 0;
      font-weight: 300;
      height: 100%;
      line-height: 12px;
      white-space: normal;
      vertical-align: middle;
    }
  }

  .activity-name{
    font-size: 18px;
    font-weight: 400;
  }

  :hover{
    cursor: pointer;
  }

  .activity-info{
    height: 80px;
    margin: 5px;
  }

  .teacher{
    font-weight: 300;
    color: #2f2f2f;
  }

  span{
    display: block;
  }
}

.status{
  height: 100%;
  width: 10px;
}

.status-expired{
  background: #d90000;
}

.status-delivered{
  background: #0074D9;
}

.status-to-delivery{
  background: #FFBE0B;
}

.status-revised{
  background: #16d900;
}

.toggled-tile {
  border: #303f9f 1px solid;
  height: 100px;
  margin: 20px 0;
  display: block;
  background: #0074D9;

  .mat-icon{
    margin: 20px 40px;
    font-size: 35px;
  }
  text-decoration: none;
  color: white;

  p{
    font-size: 8px;
    text-align: start;
    margin: 0;
    font-weight: 300;
    height: 100%;
    width: 100%;
    line-height: 12px;
    white-space: normal;
    vertical-align: middle;
  }

  .expires{
    margin-top: 5px;
    mat-icon{
      font-size: 12px;
      text-align: start;
      margin: 0;
      font-weight: 300;
      height: 100%;
      line-height: 12px;
      white-space: normal;
      vertical-align: middle;
    }
  }

  .activity-name{
    font-size: 18px;
    font-weight: 400;
  }

  :hover{
    cursor: pointer;
  }

  .activity-info{
    height: 80px;
    margin: 5px;
  }

  .teacher{
    font-weight: 300;
    color: white;
  }

  span{
    display: block;
  }
}

@media (max-width: 500px){
  
}
  
