<div
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="center center">
  <div
    class="full-width full-screen-height"
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-around center">
    <div fxFlex="50" class="full-screen-height" fxLayoutAlign="center center" fxShow fxHide.md fxHide.xs fxHide.sm>
      <img src="assets/forgot-password-animate.svg">
    </div>
    <div
      fxFlex
      fxLayout="column"
      fxLayoutAlign="center center"
      class="full-height full-width login-container"

      >
      
      <div
        fxFlexAlign="center center"
        fxLayout="column">
        <div fxLayout="row"  fxLayoutAlign="center center" class="title">
          <div>
            <mat-icon [ngStyle.xs] = "{'font-size.px': 30}">military_tech</mat-icon>
          </div>
          <h1 [ngStyle.xs] = "{'font-size.px': 30}">
            Turma de Elite
          </h1>
        </div>
        <form
        fxLayout="column"
        [formGroup]="resetPasswordForm">
          <mat-form-field
            class="white-background"
            fxFlex appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              fxFlex="100"
              matInput
              type="text"
              formControlName="email"
              placeholder="user@email.com"
              required>
            <mat-error *ngIf="resetPasswordForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            class="button-margin"
            (click)="sendResetPasswordEmail()"
            [disabled]="resetPasswordForm.invalid || isEmailInvalid"
            color="primary">
            {{'labels.resetPassword'|translate}}
          </button>
        </form>
        <button
          mat-stroked-button
          class="button-margin"
          routerLink="/login"
          color="primary">
          {{'labels.return'|translate}}
        </button>
      </div>
    </div>
  </div>

</div>


