<form [formGroup]="resetPasswordForm" >
  <mat-form-field
    class="fieldWidth"
    fxFlex appearance="fill">
    <mat-label>E-mail</mat-label>
    <input
      fxFlex="100"
      matInput
      type="text"
      formControlName="email"
      placeholder="user@email.com"
      [errorStateMatcher]="stateMatcher"
      required>
    <mat-error *ngIf="resetPasswordForm.get('email')?.errors?.required">É necessário inserir o E-mail</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    (click)="sendResetPasswordEmail()"
    [disabled]="resetPasswordForm.invalid || isEmailInvalid"
    color="primary">
    Enviar link
  </button>
</form>
{{isEmailInvalid}}

