<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="background">
  <div fxFlex="100" class="mat-elevation-z10 login-container" fxLayout="column">
    <h1 class="system-title">Turma de Elite</h1>
    <h3 class="system-title">Primeiro acesso</h3>
    <form
      fxLayout="column"
      [formGroup]="firstAccessForm">
      <mat-form-field
        class="fieldWidth"
        appearance="fill">
        <mat-label>{{'labels.password' | translate}}</mat-label>
        <input
          fxFlex="100"
          matInput
          type="password"
          formControlName="password">
        <mat-error *ngIf="firstAccessForm.get('password')?.errors?.minlength">
          {{'fieldErrors.passwordIsTooShort'|translate}}
        </mat-error>
        <mat-error *ngIf="firstAccessForm.get('password')?.errors?.required">
          {{'fieldErrors.passwordIsRequired'|translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="fieldWidth"
        appearance="fill">
        <mat-label>{{'labels.confirmPassword' | translate}}</mat-label>
        <input
          fxFlex="100"
          matInput
          type="password"
          formControlName="confirmPassword">
        <mat-error *ngIf="firstAccessForm.errors?.notSame">
          {{'fieldErrors.passwordNotSame'|translate}}
        </mat-error>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      (click)="doFirstAccess()"
      color="primary"
      [disabled]="firstAccessForm.invalid">
      {{'labels.doFirstAccess'|translate}}
    </button>
  </div>
</div>
