<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="background">
  <div fxFlex="100" class="mat-elevation-z10 login-container" fxLayout="column">
    <h1 class="system-title">Turma de Elite</h1>
    <h3 class="system-title">Primeiro acesso</h3>
    <form
      fxLayout="column"
      [formGroup]="firstAccessForm">
      <mat-form-field
        class="fieldWidth"
        fxFlex appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          fxFlex="100"
          matInput
          type="text"
          formControlName="email"
          placeholder="user@email.com"
          required>
        <mat-error *ngIf="isEmailInvalid">O E-mail inserido é inválido</mat-error>
        <mat-error *ngIf="isAlreadyRegistered">Este E-mail já foi cadastrado</mat-error>
        <mat-error *ngIf="firstAccessForm.get('email')?.errors?.required">É necessário inserir o E-mail</mat-error>
      </mat-form-field>
      <mat-form-field
        class="fieldWidth"
        appearance="fill">
        <mat-label>Senha</mat-label>
        <input
          fxFlex="100"
          matInput
          type="password"
          formControlName="password">
        <mat-error *ngIf="firstAccessForm.get('password')?.errors?.minlength">Sua senha deve ter no mínimo 6 caracteres</mat-error>
        <mat-error *ngIf="firstAccessForm.get('password')?.errors?.required">É necessário inserir uma senha</mat-error>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      (click)="doFirstAccess()"
      color="primary"
      [disabled]="firstAccessForm.invalid">
      Realizar primeiro acesso
    </button>
  </div>
</div>
