<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'titles.updateManager' : 'titles.registerManager') |translate}}
  </h1>

  <form fxLayout="row wrap" fxLayoutAlign="space-between" class="full-width" fxFlex="100" [formGroup]="managerForm" (ngSubmit)="isEdit ? updateManager() : registerManager()">
    <mat-form-field
      fxFlex="45" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        placeholder="user@email.com"
        required>
      <mat-error *ngIf="alreadyRegisteredEmail">{{'fieldErrors.accountNotFound'|translate}}</mat-error>
      <mat-error *ngIf="managerForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field
      fxFlex="45" appearance="outline">
      <mat-label>{{'labels.name'|translate}}</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="André Monteiro"
        required>
      <mat-error *ngIf="managerForm.get('name')?.errors?.required">{{'fieldErrors.nameIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'labels.school'|translate}}</mat-label>
      <input type="text" matInput formControlName="school" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySchoolName">
        <mat-option *ngFor="let school of filteredSchools$ | async" [value]="school">
          {{school.name + ' | ' + school.identifier}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-slide-toggle formControlName="isActive">{{'labels.active'|translate}}</mat-slide-toggle>
    <div *ngIf="isLoading;then showLoader;else showButton"></div>
    <ng-template #showLoader>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <ng-template #showButton>
      <button mat-raised-button [disabled]="managerForm.invalid" type="submit">{{(isEdit ? 'labels.save':'labels.create')|translate}}</button>
    </ng-template>
  </form>
</div>
