
<div class="default-padding full-width" fxLayout="column" fxLayoutAlign="center start">

  <h1 class="title">
    {{(isEdit?'titles.updateManager' : 'titles.registerManager') |translate}}
  </h1>

  <form fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between" class="full-width" fxFlex="100" [formGroup]="managerForm" (ngSubmit)="isEdit ? updateManager() : registerManager()">
    <mat-form-field
      fxFlex="45" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        data-cy-input="email"
        matInput
        type="text"
        formControlName="email"
        placeholder="{{'placeholder.email'| translate}}"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required>
      <mat-error *ngIf="alreadyRegisteredEmail">{{'fieldErrors.accountNotFound'|translate}}</mat-error>
      <mat-error *ngIf="managerForm.get('email')?.errors?.pattern">{{'fieldErrors.emailPattern'|translate}}</mat-error>
      <mat-error *ngIf="managerForm.get('email')?.errors?.required">{{'fieldErrors.emailIsRequired'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field
      fxFlex="45" appearance="outline">
      <mat-label>{{'labels.name'|translate}}</mat-label>
      <input
        data-cy-input="name"
        matInput
        type="text"
        formControlName="name"
        placeholder="{{'placeholder.managerName'|translate}}"
        pattern="^([a-zA-Zà-úÀ-Ú]|\s+)+$"
        minlength="5"
        required>
      <mat-error *ngIf="managerForm.get('name')?.errors?.required">{{'fieldErrors.nameIsRequired'|translate}}</mat-error>
      <mat-error *ngIf="managerForm.get('name')?.errors?.pattern">{{'fieldErrors.namePattern'|translate}}</mat-error>
      <mat-error *ngIf="managerForm.get('name')?.errors?.minlength">{{'fieldErrors.nameMinLength'|translate}}</mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
      <mat-label>{{'labels.school'|translate}}</mat-label>
      <input data-cy-input="school" type="text" placeholder="{{'placeholder.schoolName'| translate}}" matInput formControlName="school" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySchoolName">
        <mat-option [attr.data-cy-input-school-id]="school.id" *ngFor="let school of filteredSchools$ | async" [value]="school">
          {{school.name + ' | ' + school.identifier}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-slide-toggle 
    fxFlex="45"
     formControlName="isActive"
     [attr.data-cy-input]="'isActive:' + managerForm.get('isActive')?.value"
     >{{'labels.active'|translate}}</mat-slide-toggle>
    <div  *ngIf="isLoading;then showLoader;else showButton"></div>
    <ng-template #showLoader>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
    <ng-template #showButton>
      <button 
      mat-raised-button [disabled]="managerForm.invalid" 
      data-cy-manager-button="save" 
      [attr.data-cy-is-disabled]="managerForm.invalid"  
      type="submit">{{(isEdit ? 'labels.save':'labels.create')|translate}}</button>
    </ng-template>
  </form>
  <button class="full-width" fxShow fxHide.gt-xs mat-raised-button color="primary"
  (click)="closeForm()">{{('labels.close')|translate}}
</button>
</div>
