<div fxLayout="column" fxLayoutAlign="center start">
    <div class="page-title" fxFlexAlign="start" fxLayoutAlign="center start">
      <button data-cy-return="dashboard" mat-icon-button routerLink="/manager/dashboard"><mat-icon>navigate_before</mat-icon></button>
      <h1 class="mat-display-1">Dashboard</h1>
    </div>
    <div class="dashboards" fxLayout="row wrap" fxFlexAlign="center" fxLayoutAlign="center start">
        <div class="dashboards__item" >
            <div class="dashboards__item__title">
              Engajamento por turma
            </div>
          </div>
          <div class="dashboards__item">
            <div class="dashboards__item__title">
              Engajamento por professor
            </div>
          </div>
    </div>
</div>
  
