<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxFlexAlign="start">
    <h1 class="mat-display-1 page-title">{{'titles.administrativePanel'|translate}}</h1>
  </div>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50" fxHide fxShow.gt-sm>
      <img class="half-screen-width" src="assets/teacher-dashboard.svg">
    </div>
    <div class="tile-container" fxFlex="35" fxFlexAlign="start">
      <navigator-button
        data-cy-activity="access"
        [path]="'/teacher/activities'"
        [label]="'labels.activities'"
        [iconName]="'pending_actions'">
      </navigator-button>
      <navigator-button
        [path]="'/teacher/achievements'"
        [label]="'labels.achievements'"
        [iconName]="'military_tech'">
      </navigator-button>
      <navigator-button
        [path]="'/teacher/classes'"
        [label]="'labels.classes'"
        [iconName]="'classes'">
      </navigator-button>
      <navigator-button
        [path]="'/teacher/dash'"
        [label]="'Dashboard'"
        [iconName]="'dashboard'">
      </navigator-button>
    </div>
  </div>
</div>