<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxFlexAlign="start">
    <h1 class="mat-display-1 page-title">{{'titles.administrativePanel'|translate}}</h1>
  </div>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <img class="half-screen-width" src="assets/teacher-dashboard.svg">
    </div>
    <div fxFlex="35" fxFlexAlign="start">
      <navigator-button
        [path]="'/teacher/activities'"
        [label]="'labels.activities'"
        [iconName]="'pending_actions'">
      </navigator-button>
      <navigator-button
        [path]="'/manager/teachers'"
        [label]="'labels.classes'"
        [iconName]="'school'">
      </navigator-button>
    </div>
  </div>
</div>
