<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxFlexAlign="start">
    <h1 class="mat-display-1 page-title">{{'titles.administrativePanel'|translate}}</h1>
  </div>
  <div class="full-width" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50" fxHide fxShow.gt-sm>
      <img class="half-screen-width" src="assets/administrative-panel.svg">
    </div>
    <div class="tile-container" fxFlex="35" fxFlexAlign="start">
      <navigator-button
        data-cy-teacher="access"
        [path]="'/manager/teachers'"
        [label]="'labels.teachers'"
        [iconName]="'school'">
      </navigator-button>
      <navigator-button
        data-cy-student="access"
        [path]="'/manager/students'"
        [label]="'labels.students'"
        [iconName]="'person'">
      </navigator-button>
      <navigator-button
        data-cy-class="access"
        [path]="'/manager/classes'"
        [label]="'labels.classes'"
        [iconName]="'classes'">
      </navigator-button>
      <navigator-button
        data-cy-manager="access"
        [path]="'/manager/dash'"
        [label]="'Dashboard'"
        [iconName]="'dashboard'">
      </navigator-button>
    </div>
  </div>
</div>