<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="logo" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>military_tech</mat-icon>
    <span>TURMA DE ELITE</span>
  </div>

  <span fxLayout="row" fxLayoutAlign="center">
    <button mat-icon-button aria-label="Configuration page" [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="languages">
        <mat-icon>translate</mat-icon>
        <span>{{ 'labels.language' | translate }}</span>
      </button>
      <button mat-menu-item routerLink="connections">
        <mat-icon>sync</mat-icon>
        <span>{{ 'labels.connections' | translate }}</span>
      </button>
    </mat-menu>
    <mat-menu #languages="matMenu">
      <button mat-menu-item (click)="changeLanguageTo('pt')">Português</button>
      <button mat-menu-item (click)="changeLanguageTo('en')">English</button>
    </mat-menu>
    <button mat-icon-button aria-label="Logout button" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
