.activity-name{
  color: #1E96FC;
  font-size: 18px;
  font-weight: bold;
}

.expires,.school-class-name{
  font-size: 14px;
  font-weight: lighter;
}

.description-title,.attachment-title{
  font-weight: 500;
  font-size: 14px;
}

.description{
  font-weight: lighter;
}
