
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$turma-de-elite-frontend-primary: mat.define-palette(mat.$indigo-palette);
$turma-de-elite-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$turma-de-elite-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$turma-de-elite-frontend-theme: mat.define-light-theme((
  color: (
    primary: $turma-de-elite-frontend-primary,
    accent: $turma-de-elite-frontend-accent,
    warn: $turma-de-elite-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($turma-de-elite-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
  width: 100%;
}

.half-screen-width{
  width: 50vw;
}

.full-screen-width{
  width: 100vw;
}

.full-screen-height{
  height: 100vh;
}

.half-screen-height{
  height: 50vh;
}

.full-height{
  height: 100%;
}

.default-padding{
  padding: 20px;
}

.divider{
  padding: 10px 0;
}

.login-container{
}

.page-title{
  color: #303f9f;
  padding: 20px;
  
  
}



.page-subtitle{
  color: #263238;
  padding-left: 40px;
  margin-top: 8vh;
}

.tile{
  border: #303f9f 1px solid;
  height: 80px;
  margin: 20px 20px;
  display: block;

  .mat-icon{
    margin: 20px 20px;
    font-size: 25px;
  }
  text-decoration: none;
  color: black;

  p{
    font-size: 140%;
    text-align: start;
    margin: 0;
    font-weight: 400;
    height: 120%;
    width: 100%;
    line-height: 100px;
    white-space: normal;
    vertical-align: middle;
  }

  :hover{
    cursor: pointer;
  }
}

.toggled-tile{
  border: #303f9f 1px solid;
  height: 80px;
  margin: 20px 20px;
  display: block;

  .mat-icon{
    margin: 20px 20px;
    font-size: 25px;
    color: white;
  }

  text-decoration: none;
  color: white;
  background: #000066;

  p{
    font-size: 140%;
    text-align: start;
    color: white;
    margin: 0;
    font-weight: 400;
    height: 120%;
    width: 100%;
    line-height: 100px;
    white-space: normal;
    vertical-align: middle;
  }

  :hover{
    cursor: pointer;
  }
}

.primary{
  color: #303f9f;
}

.disabled{
  color: gray;
}

.attribution{
  position: fixed;
  top: 95vh;
  left: 2vw;
  color: gray;

  text-decoration: none;
}

.sidenav-container {
    width: 100%;
    background-color: white;
  }
  
  .sidenav {
    width: 400px;
    margin-top: 8vh;
    height: 92vh;    
  }

  .content{
    margin-top: 5px;
  }

  .search{

    margin: 20px 20px;
    display: block;

  }

  .padding-button{
    margin-top: 10px;
  }
  

@media (max-width: 500px)
  {

    .sidenav {
      width: 100%;
      margin-top: 8vh;
      height: 92vh;
    }
    
    .tile{
      border: #303f9f 1px solid;
      height: 80px;
      margin: 10px 10px;
      display: block;
    
      .mat-icon{
        margin: 10px 10px;
        font-size: 25px;
      }
      text-decoration: none;
      color: black;
    
      p{
        font-size: 25px;
        text-align: start;
        margin: 0;
        font-weight: 400;
        height: 120%;
        width: 100%;
        line-height: 100px;
        white-space: normal;
        vertical-align: middle;
      }
    
      :hover{
        cursor: pointer;
      }
    }
    
    .toggled-tile{
      border: #303f9f 1px solid;
      height: 80px;
      margin: 10px 10px;
      display: block;
    
      .mat-icon{
        margin: 10px 10px;
        font-size: 25px;
        color: white;
      }
    
      text-decoration: none;
      color: white;
      background: #000066;
    
      p{
        font-size: 25px;
        text-align: start;
        margin: 0;
        color:white;
        font-weight: 400;
        height: 120%;
        width: 100%;
        line-height: 100px;
        white-space: normal;
        vertical-align: middle;
      }
    
      :hover{
        cursor: pointer;
      }
    }

    }  

    *::-webkit-scrollbar {
      width: 10px;
    }
    
    *::-webkit-scrollbar-track {
      background:#EBEBEB;
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: #2F52E0;
      border-radius: 20px;
      border: 1px solid #EBEBEB;
    }

    