
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$turma-de-elite-frontend-primary: mat.define-palette(mat.$indigo-palette);
$turma-de-elite-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$turma-de-elite-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$turma-de-elite-frontend-theme: mat.define-light-theme((
  color: (
    primary: $turma-de-elite-frontend-primary,
    accent: $turma-de-elite-frontend-accent,
    warn: $turma-de-elite-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($turma-de-elite-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
  width: 100%;
}

.half-screen-width{
  width: 50vw;
}

.full-screen-width{
  width: 100vw;
}

.full-screen-height{
  height: 100vh;
}

.half-screen-height{
  height: 50vh;
}

.full-height{
  height: 100%;
}

.default-padding{
  padding: 20px;
}

.divider{
  padding: 10px 0;
}

.login-container{
}

.page-title{
  color: #303f9f;
  padding: 40px;
}

.tile{
  border: #303f9f 1px solid;
  height: 100px;
  margin: 20px 0;
  display: block;

  .mat-icon{
    margin: 20px 40px;
    font-size: 35px;
  }
  text-decoration: none;
  color: black;

  p{
    font-size: 30px;
    text-align: start;
    margin: 0;
    font-weight: 300;
    height: 100%;
    width: 100%;
    line-height: 100px;
    white-space: normal;
    vertical-align: middle;
  }

  :hover{
    cursor: pointer;
  }
}

.toggled-tile{
  border: #303f9f 1px solid;
  height: 100px;
  margin: 20px 0;
  display: block;

  .mat-icon{
    margin: 20px 40px;
    font-size: 35px;
    color: white;
  }

  text-decoration: none;
  color: white;
  background: #000066;

  p{
    font-size: 30px;
    text-align: start;
    margin: 0;
    font-weight: 300;
    height: 100%;
    width: 100%;
    line-height: 100px;
    white-space: normal;
    vertical-align: middle;
  }

  :hover{
    cursor: pointer;
  }
}

.primary{
  color: #303f9f;
}

.disabled{
  color: gray;
}

.attribution{
  position: fixed;
  top: 95vh;
  left: 2vw;
  color: gray;

  text-decoration: none;
}
