.class-name{
  width: 160px;
  height: 50px;
  background: white;
  border: solid 2px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 15px;
}

.class-list{
  margin: 35px;
}

