<div fxLayout="row" class="full-width">
  <mat-form-field appearance="outline" fxFlex="90">
    <input
      matInput
      data-cy-input="student"
      type="text"
      [formControl]="studentRegistryControl"
      placeholder="{{'placeholder.studentRegistry'|translate}}"
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
      [matAutocomplete]="auto">
    <mat-error *ngIf="studentRegistryControl.hasError('required')">{{'fieldErrors.registryIsRequired'|translate}}</mat-error>
    <mat-error *ngIf="studentRegistryControl.hasError('pattern')">{{'fieldErrors.registryPattern'|translate}}</mat-error>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
    <mat-option [attr.data-cy-input-student-id]="teacher.id" *ngFor="let teacher of studentOptions" [value]="teacher">
      {{teacher.name}}
    </mat-option>
  </mat-autocomplete>
  <button data-cy-button="addStudent" mat-mini-fab color="primary" (click)="addTeacher()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<table mat-table [dataSource]="studentDataSource" class="mat-elevation-z1 full-width">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> {{'labels.name'|translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> {{'labels.registry'|translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.registry}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{'labels.actions'|translate}} </th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        #toggle
        [(ngModel)]="element.isActive"
        (click)="changeStatus(!toggle.checked,element.id)">
        {{(toggle.checked?'labels.active':'labels.inactive')|translate}}
      </mat-slide-toggle>
      <button *ngIf="!classId" mat-icon-button color="warn" (click)="removeStudent(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="studentColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: studentColumns;"></tr>
</table>
<div fxLayout="row" class="full-width default-padding" fxLayoutAlign="end center">
  <div fxLayout="row" fxFlex="30" fxFlex.xs="100" fxLayoutAlign="space-between">
    <button  mat-flat-button (click)="emitPrevious()" color="primary">{{'labels.previous'|translate}}</button>
    <button data-cy-button="goToStep3" mat-flat-button [disabled]="isInvalid()" (click)="emitNext()" color="primary">{{'labels.next'|translate}}</button>
  </div>
</div>
